<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Assigned Treks</h1>
    <a href="/staff_dashboard">Back to Dashboard</a>
    <br><br>
    {% if treks %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Slots</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Action</th>
            <th>Update Status</th>
            <th>Update Progress</th>
        </tr>
        {% for trek in treks %}
        <tr>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.duration }}</td>
            <td>{{ trek.available_slots }}</td>
            <td>{{ trek.status }}</td>
            <td>{{ trek.progress }}</td>
            <td><a href="/update_slots/{{ trek.id }}">Update Slots</a></td>
            <td><a href="/update_status/{{ trek.id }}">Update Status</a></td>
            <td><a href="/update_progress/{{ trek.id }}">Update Progress</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No Trek Assigned</h3>
    {% endif %}
    <br>
    <a href="/logout">Logout</a>
</body>
</html>