<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Slots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Update Available Slots</h1>
    <form method="POST">
        <p><b>{{ trek.name }}</b></p>
        <label>Available Slots</label>
        <input type="number" name="slots" value="{{ trek.available_slots }}" required>
        <br><br>
        <button type="submit"> Update</button>
    </form>
    <br>
    <a href="/my_treks">Back</a>
</body>
</html>