<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Edit Profile</h1>
    <form method="POST">
        <label>Username</label><br>
        <input type="text" name="username" value="{{ user.username }}" required>
        <br><br>
        <label>Email</label><br>
        <input type="email" name="email" value="{{ user.email }}" required>
        <br><br>
        <input type="submit" value="Update Profile">
    </form>
    <br>
    <a href="/user">Back to Dashboard</a>


</body>
</html>