<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Treks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Search Treks</h1>

    <form method="POST">

        <input
            type="text"
            name="search"
            placeholder="Enter Trek Name or Location"
            required>

        <input type="submit" value="Search">

    </form>

    <br>

    <a href="/user">Back to Dashboard</a>

    <br><br>

    {% if treks %}

    <table border="1" cellpadding="8">

        <tr>

            <th>Name</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Status</th>
            <th>View</th>

        </tr>

        {% for trek in treks %}

        <tr>

            <td>{{ trek.name }}</td>

            <td>{{ trek.location }}</td>

            <td>{{ trek.duration }} Days</td>

            <td>{{ trek.status }}</td>

            <td>
                <a href="/trek_details/{{ trek.id }}">View Details</a>
            </td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p>No Trek Found.</p>

    {% endif %}

</body>
</html>