<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Search Treks - Saarthi</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Saarthi</h1>

      <p>Your Trusted Trek Companion</p>
    </header>

    <nav>
      <a href="/user">Dashboard</a>

      <a href="/browse_treks">Browse Treks</a>

      <a href="/my_bookings">My Bookings</a>

      <a href="/logout">Logout</a>
    </nav>

    <div class="container">
      <div class="card">
        <h2>Search Treks</h2>

        <p>Search a trek by its name, location or difficulty.</p>

        <form method="POST">
          <label>Search</label>

          <input
            type="text"
            name="search"
            placeholder="Enter trek name ,location or difficulty"
            required
          />

          <input type="submit" value="Search" />
        </form>
      </div>

      <div class="card">
        <h2>Search Results</h2>

        {% if treks %}

        <table>
          <tr>
            <th>Name</th>

            <th>Location</th>

            <th>Duration</th>

            <th>Difficulty</th>

            <th>Available Slots</th>

            <th>Start Date</th>

            <th>Status</th>

            <th>View</th>
          </tr>

          {% for trek in treks %}

          <tr>
            <td>{{ trek.name }}</td>

            <td>{{ trek.location }}</td>

            <td>{{ trek.duration }} Days</td>

            <td>{{ trek.difficulty }}</td>

            <td>{{ trek.available_slots }}</td>

            <td>{{ trek.start_date.strftime("%d-%m-%Y") }}</td>

            <td>{{ trek.status }}</td>

            <td>
              <a href="/trek_details/{{ trek.id }}"> View Details </a>
            </td>
          </tr>

          {% endfor %}
        </table>

        {% else %}

        <p>No matching treks found.</p>

        {% endif %}

        <br />

        <a href="/user" class="btn"> Back to Dashboard </a>
      </div>
    </div>

    <footer>
      <p>© 2026 Saarthi | Trekking Management System</p>
    </footer>
  </body>
</html>
