<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>User Dashboard</h1>
    <h3>Welcome, {{ session["username"] }}</h3>
    <hr>
    <h2>Menu</h2>
    <p>
        <a href="/browse_treks">Browse Treks</a>
    </p>
    <p>
        <a href="/search_treks">Search Treks</a>
    </p>
    <p>
        <a href="/my_bookings">My Bookings</a>
    </p>
    <p>
        <a href="/history">Booking History</a>
    </p>
    <p>
        <a href="/edit_profile/{{ session['user_id'] }}">Edit Profile</a>
    </p>
    <p>
        <a href="/logout">Logout</a>
    </p>
</body>
</html>